body {
  background-color: #ababab;
  width: 100%;
  margin: 0px;
}

#body_box {
  background-color: #5d6e7f;
  position: absolute;
  width: 1000px;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 0;
}

#title_box {
  background-image: url("title-background.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 1000px;
  height: 150px;
  left: 0px;
  top: 0px;
  z-index: 0;
}

#title {
  position: absolute;
  left: 130px;
  top: 0px;
  margin-top: 25px;
  z-index: 1;
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
  text-shadow: 0px 2px 0px #888888;
}

#title_image {
  margin: 5px;
}

#menu_box {
  position: absolute;
  width: 1000px;
  height: 30px;
  left: 0px;
  top: 110px;
  margin: 0px 0px 0px 5px;
  z-index: 1;
}

a.menu_item_active {
  display: inline-block;
  text-decoration: none;
  text-shadow: 0px 1px 0px #aaaaaa;
  color: #000000;
  font-family: "Arial", sans-serif;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  text-transform: capitalize;
  border-radius: 10px 10px 0px 0px;
  background-image: linear-gradient(to bottom, #6eb5ff, #5d6e7f);
  z-index: 1;
}

a.menu_item_inactive {
  display: inline-block;
  text-decoration: none;
  text-shadow: 0px 1px 0px #aaaaaa;
  color: #000000;
  font-family: "Arial", sans-serif;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  text-transform: capitalize;
  border-radius: 10px 10px 0px 0px;
  background-image: linear-gradient(to bottom, #5891cc, #5d6e7f);
  z-index: 1;
}

#content_box {
  position: absolute;
  width: 980px;
  height: 500px;
  left: 20px;
  top: 150px;
  margin: 0px;
  z-index: 0;
  font-family: "Arial", sans-serif;
  font-size: 11pt;
  text-decoration: none;
  text-align: left;
}

#map {
  border-style: solid;
  position: absolute;
  left: 580px;
  top: 0px;
}

@media handheld, only screen and (max-width: 560px), only screen and (max-device-width: 480px) {
  #title_box {
    height: 180px;
  }

  #menu_box {
    height: 60px;
  }

  a.menu_item {
    font-size: 40px;
  }

  #content_box {
    top: 180px;
  }
}
